<h1>Comment#show</h1>
<p>Find me in app/views/comment/show.html.erb</p>


<div id="comment-dialog-form" style="display: none" title="Legg til en kommentar">
  <input type="checkbox" id="check1"/><label for="check1">Kommentar 1</label>
  <input type="checkbox" id="check2"/><label for="check2">Kommentar 2</label>
  <input type="checkbox" id="check3"/><label for="check3">Kommentar 3</label>
</div>

<div id="users-contain" class="ui-widget">
  <h1>Valgt kommentar:</h1>
  <table id="users" class="ui-widget ui-widget-content">
    <thead>
    <tr class="ui-widget-header ">
      <th>Kommentar</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Ingen kommentar</td>
    </tr>
    </tbody>
  </table>
</div>

<button id="add-comment">Legg til kommentartekst fra liste...</button>