<h1>Comment#show</h1>
<p>Find me in app/views/comment/show.html.erb</p>


<div id="comment-dialog-form" style="display: none" title="Legg til en kommentar">
  <p class="comment-name">
    <input type="checkbox" name="comment-checkbox-group" id="check1"/>
    <label for="check1">Kommentar 1</label>
  </p>

  <div class="comment-details">
    Kommentar beskrivelse 1. Kommentar beskrivelse 1. Kommentar beskrivelse 1. Kommentar beskrivelse 1.
  </div>

  <p class="comment-name">
    <input type="checkbox" name="comment-checkbox-group" id="check2"/>
    <label for="check2">Kommentar 2</label>
  </p>

  <div class="comment-details">
    Kommentar beskrivelse 2. Kommentar beskrivelse 2. Kommentar beskrivelse 2. Kommentar beskrivelse 2.
  </div>

  <p class="comment-name">
    <input type="checkbox" name="comment-checkbox-group" id="check3"/>
    <label for="check3">Kommentar 3</label>
  </p>

  <div class="comment-details">
    Kommentar beskrivelse 3. Kommentar beskrivelse 3. Kommentar beskrivelse 3. Kommentar beskrivelse 3.
  </div>
</div>

<div id="comments" class="ui-widget">
  <h1>Valgt kommentar:</h1>
  <table id="selected-comments" class="ui-widget ui-widget-content">
    <tr>
      <td>Ingen kommentar</td>
    </tr>
  </table>
</div>

<button id="add-comment">Legg til kommentartekst fra liste...</button>
<div id="result"></div>