config/*.sphinx.conf
coverage
db/*.sqlite3
db/sphinx
log
.idea
!.idea/projectCodeStyle.xml
webrat.log
.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
.DS_Store.bundle\n
.idea/
.DS_Store
.idea
binstubs

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
