<h1>Dialog#show</h1>
<p>Find me in app/views/dialog/show.html.erb</p>

<div id="dialog-form" style="display: none" title="Create new user">
  <p class="validateTips">All form fields are required.</p>

  <form>
    <fieldset>
      <label for="name">Name</label>
      <input type="text" name="name" id="user-name" class="text ui-widget-content ui-corner-all"/>
      <label for="email">Email</label>
      <input type="text" name="email" id="user-email" value="" class="text ui-widget-content ui-corner-all"/>
      <label for="password">Password</label>
      <input type="password" name="password" id="user-password" value="" class="text ui-widget-content ui-corner-all"/>
    </fieldset>
  </form>
</div>

<div id="users-contain" class="ui-widget">
  <h1>Existing Users:</h1>
  <table id="users" class="ui-widget ui-widget-content">
    <thead>
    <tr class="ui-widget-header ">
      <th>Name</th>
      <th>Email</th>
      <th>Password</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>John Doe</td>
      <td>john.doe@example.com</td>
      <td>johndoe1</td>
    </tr>
    </tbody>
  </table>
</div>
<button id="create-user">Create new user</button>